#myCanvas {
   background: #eee;
   display: block;
   margin: 0 auto;
 }

 .button {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 100px;
  border: 2px solid #000000;
  display: block;
  font-size: 50px;
  margin: 0 auto;
  transition-duration: .5s;
 }

 .button:hover {
   background-color: black;
   transition-duration: .5s;
 }
