body {
  padding: 0;
  margin: 0;
 }

 #myCanvas {
   background: #eee;
   display: block;
   margin: 0 auto;
 }

 #button {
  display: block;
  font-size: 100px;
  background-color: white;
  border: none;
  margin: 0 auto;
  margin-top: 30px;
 }
