body {
	color: #333;
	font-family: 'Alegreya Sans SC', sans-serif;
	margin: 0;
	padding: 0;
  background-color: #C6DEFF;
}

p {
  font-size: 30px;
  text-align: center;
}

#myCanvas {
   background: #eee;
   display: block;
   margin: 0 auto;
   margin-left: 35%;
   border-bottom: 10px solid black;
   border-left: 10px solid black;
   border-right: 10px solid black;
}

.buttonContainer {
  width: 480px;
  margin-left: 35%;
  margin-top: 30px;
}

.button {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 100px;
  border: 2px solid #0095DD;
  display: inline-block;
  font-size: 50px;
  margin-left: 90px;
  transition-duration: .5s;
}

.button:hover {
   background-color: #0095DD;
   border: white;
   transition-duration: .5s;
}

.slideContainer {
  margin-left: 35%;
  margin-top: 30px;
  display: block;
  width: 480px;
  border-radius: 100px;
}

.slider {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: 480px;
  height: 15px;
  background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 100px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0095DD;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0095DD;
  cursor: pointer;
}

#sidebar {
	height: 100%;
	width: 10%;
	position: fixed;
	background-size: cover;
	background-color: white;
  border-right: 10px solid black;
  opacity: 1.0;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#list-title {
  color: black;
  opacity: 1;
  padding: 40px 0 10px 0;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: lowercase;
  border-color: #8E0047;
  transition: 1s;
  text-align:center;
}

#ballList {
  text-align: center;
  color: black;
}

.ball {
  display: block;
  margin-top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin-left: 60px;
}
